* {
box-sizing: border-box;
font-family: 'Nanum Gothic', sans-serif;
}

body {
padding: 0px;
margin: 0px;
background: #e6e5e3;
}

#pageEx 
{
width: 100%;
padding: 10px;
font-size: 12px;
text-align: center;
color:#f0f0f0;
background-color:#000
}

#topTag
{
padding: 10px;
margin: 0px auto;
text-align: left;
display: block;
}


.titleTag {
font-size: 10px;
color: #ccc;
padding: 5px;
text-align: center;
border: 1px solid #D8D8D8;
border-radius: 15px 15px 15px 15px;
background: #fff;
display:inline-block;
margin-bottom: 10px
}

.titleText {
color: #ccc;
font-size: 12px;
text-align: center;
}


/*.card {
background-color: white;
width: 100%;
color: #F78181;
padding: 20px;
margin: 10px auto;
display: inline-block;
box-shadow: 3px 3px 10px #ccc
}
*/

.card {
background-color: white;
border: 1px solid #D8D8D8;
border-style: dashed;
width: 90%;
color: #6c6c6b;
padding: 20px;
margin: 30px auto;
}


.footer {
font-size: 11px;
padding: 10px;
text-align: center;
margin-top: 20px;
background-color:rgba(255,255,255,0.5);
color: #000
}

.proName {
font-size: 20px;
font-weight: bold;
padding-top: 10px;
color:dimgray
}

.proNo {
font-size: 14px;
text-align: right;
color: #ccc;
}

.proEx {
padding: 10px
}

table.type11 {
	width:300px;
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border: 0px;
    margin: 0px;
}


table.type11 th {
    padding: 10px;
    text-align: center;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #6f6c61;
    font-size: 12px
}

table.type11 td {
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    font-size: 12px;
}

table.type11 td.masking {
    text-decoration: line-through;
    color: #ccc;
}



/* Button */
button {
background-color:#6c6c6b;
padding: 2px 2px;
margin: 5px;
border: none;
color: #fff;
text-align: center;
text-decoration: none;
font-size: 13px;
display: inline-block;
cursor: pointer;
-webkit-transition-duration: 0.4s; /* Safari */
transition-duration: 0.4s;
border: 1px solid #D8D8D8;
}

button:focus {
	border: 1px solid #D8D8D8;
	border-style: dashed;
outline: 0px
}